.btn{
    display:block;
    color:white;
    margin:10px auto;
    padding:20px;
    font-weight:normal;
    border-radius: 3px;
}

.btnGreen{
    background-color: darkgreen;
}

.btnGreen:hover{
    background-color: green;
}

.btnRed{
    background-color: darkred;
}

.btnRed:hover{
    background-color: red;
}