.App {
  text-align: center;
}

.red {
  color:red;
}

.green {
  color:green;
}

.bold{
  font-weight: bold;
}

.App button{
  color:white;
  margin:40px 0;
  padding:20px;
  font-weight:normal;
  border-radius: 3px;
}

.btnGreen{
  composes: fontBlack from "./Person/Person.css";
  background-color: darkgreen;
}

.btnGreen:hover{
  background-color: green;
}

.btnRed{
  background-color: darkred;
}

.btnRed:hover{
  background-color: red;
}